/* raleway-regular - latin */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../static/fonts/raleway-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
    url('../static/fonts/raleway-v11-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../static/fonts/raleway-v11-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../static/fonts/raleway-v11-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../static/fonts/raleway-v11-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../static/fonts/raleway-v11-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../static/fonts/raleway-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold'), local('Raleway-Bold'),
    url('../static/fonts/raleway-v11-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../static/fonts/raleway-v11-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../static/fonts/raleway-v11-latin-700.woff') format('woff'),
    /* Modern Browsers */ url('../static/fonts/raleway-v11-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../static/fonts/raleway-v11-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* bitter-regular - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: url('../static/fonts/bitter-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Bitter Regular'), local('Bitter-Regular'),
    url('../static/fonts/bitter-v11-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../static/fonts/bitter-v11-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../static/fonts/bitter-v11-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../static/fonts/bitter-v11-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../static/fonts/bitter-v11-latin-regular.svg#Bitter') format('svg'); /* Legacy iOS */
}
/* bitter-italic - latin */
@font-face {
  font-family: 'Bitter';
  font-style: italic;
  font-weight: 400;
  src: url('../static/fonts/bitter-v11-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Bitter Italic'), local('Bitter-Italic'),
    url('../static/fonts/bitter-v11-latin-italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../static/fonts/bitter-v11-latin-italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../static/fonts/bitter-v11-latin-italic.woff') format('woff'),
    /* Modern Browsers */ url('../static/fonts/bitter-v11-latin-italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../static/fonts/bitter-v11-latin-italic.svg#Bitter') format('svg'); /* Legacy iOS */
}
/* bitter-700 - latin */
@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  src: url('../static/fonts/bitter-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Bitter Bold'), local('Bitter-Bold'),
    url('../static/fonts/bitter-v11-latin-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../static/fonts/bitter-v11-latin-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('../static/fonts/bitter-v11-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('../static/fonts/bitter-v11-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../static/fonts/bitter-v11-latin-700.svg#Bitter') format('svg'); /* Legacy iOS */
}
